.lsqGrid {
	width: 100%;
	border: 1px solid #DDD;
	border-collapse: collapse;
}

.lsqGrid thead {
	background-color: #EFEFEF;
}

.lsqGrid thead th {
	text-align: center;
	padding: 8px;
}

.lsqGrid tbody tr {
}
.lsqGrid tbody tr:nth-child(2n) {
	background-color: #f8f8f8;
}

.lsqGrid tbody tr:HOVER {
	background-color: #f5f5f5;
}

.lsqGrid tbody tr.select {
	background-color: #efe0e0;
}

.lsqGrid tbody td {
	padding: 8px;
}